/*--------------------------------------------*/
/*  MAIN SECTION  */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

body {
  background-image: linear-gradient(to bottom,
    #cbcdd2 0px,
    #FFFFFF 100%
    );
  background-position: 0px 0px;
  background-repeat:  no-repeat;
}
/*--------------------------------------------*/
/*  HEADER  */
.header {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 1px solid black;
}





/*--------------------------------------------*/
/*  ARTIST SECTION (PIZZA BOX)  */

.PizzaBox {
  position: absolute;
  /*border: 1px solid black;*/

  top: 50%;
  left:50%;

  height: 800px;
  width: 800px;
  margin-top: -400px;
  margin-left: -400px;
}
@media only screen and (max-width: 1000px), screen and (max-height: 800px) {
  .PizzaBox {
    height: 600px;
    width: 600px;
    margin-top: -250px;
    margin-left: -300px;
  }
}
@media only screen and (max-width: 600px), screen and (max-height: 600px) {
  .PizzaBox {
    height: 400px;
    width: 400px;
    top: 200px;
    margin-top: -100px;
    margin-left: -200px;
  }
}



.clipBoxOut {
  /* Max FAN is 300deg, which is 30deg for 10 artists */
  /* Use 30deg for 10-7 artist count....*/
  /* ArtistsCount = 6 or 5, use 40deg */
  /* So, for 10-7 artists, use: .53589% of the HEIGHT  */
  /* For 6, use: 40deg --> .72794% of the HEIGHT  */
  /* For 5, use: 40deg --> .72794% of the HEIGHT  */
  /* For 4, use: 45deg --> .8284% of the HEIGHT  */
  /* For 3, use: 50deg --> .9326% of the HEIGHT  */
  /* For 2, use: 60deg --> 1.1547% of the HEIGHT  */
  
  /*SIZING / COLOR / SHAPE*/
  height: 40%;

  background-color: transparent;
  -webkit-clip-path: polygon(50% 100%, 0% 0%, 100% 0%); 
  
  /*POSITIONING*/
  position: relative;
  left: 50%;
  top: 50%;
  margin-top: -40%;
  
  /*TRANSFORM*/
  transform-origin: center 100%;
  transition-property: height, width, margin-left, margin-top;
  transition-duration: .5s;
  transition-timing-function: ease-out;
  
}


.clipBoxOut:hover {
  width: 24.115%;
  height: 45%;
  margin-left: -12%;
  margin-top: -45%;
}

.clipBoxIn {
  position: absolute;
  top: 3%;
  left: 5%;
  height: 90%;
  width: 90%;
  background-color: transparent;
 -webkit-clip-path: polygon(50% 100%, 0% 0%, 100% 0%); 
}
.clip {
  height: 60%;
  width: 100%;
  background-size: 100%;
}




#yellow {
  background-color: yellow;
}
#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#black {
  background-color: black;
}
#green {
  background-color: green;
}
#teal {
  background-color: teal;
}
#white {
  background-color: white;
}
#orange {
  background-color: orange;
}
#aquamarine {
  background-color: aquamarine;
}

/*--------------------------------------------*/
/*  LOG SECTION  */

#logoBox {
  width: 200px;
  height: 200px;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  

}
.glowBox {
  width: 200px;
  height: 200px;
  position: absolute;

  background: url(resources/images/SS_Logo_002_topGlow_600px.png);
  background-size: 100% 100%;

  z-index: -1;
  -webkit-animation-name: pulseGlow;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-name: pulseGlow;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@-webkit-keyframes pulseGlow {
  0% {opacity: 1;}
  50% {opacity: .0;}
  100% {opacity: 1;}
}

@keyframes pulseGlow {
  0% {opacity: 1;}
  50% {opacity: .0;}
  100% {opacity: 1;}
}
#glowTop {
  background: url(resources/images/SS_Logo_002_topGlow_600px.png);
  background-size: 100% 100%;
}
#glowBottom {
  background: url(resources/images/SS_Logo_002_bottomGlow_600px.png);
  background-size: 100% 100%;
}
#glowLeft {
  background: url(resources/images/SS_Logo_002_leftGlow_600px.png);
  background-size: 100% 100%;
}
#glowRight {
  background: url(resources/images/SS_Logo_002_rightGlow_600px.png);
  background-size: 100% 100%;
}









.logoSide {
  width:200px;
  height: 200px;
  position: absolute;
  opacity: 1;

}


#Top {
  background:
    url(resources/images/SS_Logo_002_top_600px.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-animation-name: slideTop;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-name: slideTop;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slideTop {
  from {margin-top: -1000px;}
  to {margin-top: 0px;}
}

@keyframes slideTop {
  from {margin-top: -1000px;}
  to {margin-top: 0px;}
}

#Right {
  background:
    url(resources/images/SS_Logo_002_Right_600px.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-animation-name: slideRight;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-name: slideRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slideRight {
  from {margin-left: 1000px;}
  to {margin-left: 0px;}
}

@keyframes slideRight {
  from {margin-left: 1000px;}
  to {margin-left: 0px;}
}

#Bottom {
  background:
    url(resources/images/SS_Logo_002_Bottom_600px.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-animation-name: slideBottom;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-name: slideBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slideBottom {
  from {margin-top: 1000px;}
  to {margin-top: 0px;}
}

@keyframes slideBottom {
  from {margin-top: 1000px;}
  to {margin-top: 0px;}
}


#Left {
  background:
    url(resources/images/SS_Logo_002_Left_600px.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  -webkit-animation-name: slideLeft;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-name: slideLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slideLeft {
  from {margin-left: -1000px;}
  to {margin-left: 0px;}
}

@keyframes slideLeft {
  from {margin-left: -1000px;}
  to {margin-left: 0px;}
}


.foreground {
  position:absolute;
  left: 50%;
  top: 90%;
  margin-left: -3000px;
  background: green;
  width:6000px;
  height:6000px;
  border-radius:100%;
  overflow: hidden;
}
.lake {
  position:absolute;
  left:51%;
  width:50px;
  height: 100px;
  margin-top:-25px;
  border-radius:100%;
  background: blue;
}